@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006E4B;
  /*dark emerald */
  --secondary: #9F2B68;
  /* dark amaranth*/
  --accent: #F2C57C;
  /* apricot cream*/

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
}